* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 825px;
  margin: 50px auto;
}

article {
  border: 5px solid black;
  font-family: sans-serif;
  line-height: 1.4;
  position: relative;
}

.sneaker-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
}

.sale {
  background-color: red;
  width: fit-content;
  padding: 8px 20px;
  color: #f7f7f7;
  font-weight: bold;
  letter-spacing: 4px;
  position: absolute;
  top: -20px;
  left: -40px;
  /* pode usar também: display: inline-block; */
}

p strong {
  font-size: 24px;
}

.shipping {
  text-transform: uppercase;
  color: #444;
  font-size: 12px;
  font-weight: bold;
}

article h3 {
  text-transform: uppercase;
  font-size: 16;
  padding-bottom: 10px;
}

ul {
  list-style: square;
}

ul li {
  margin: 0 0 10px 20px;
}

ul li:last-child {
  margin-bottom: 0;
}

.btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}

.btn:hover {
  background-color: white;
  color: black;
  border-top: 5px solid black;
}

.more-information:link,
.more-information:visited {
  color: black;
  display: inline-block;
  padding-bottom: 25px;
}

.more-information:hover,
.more-information:active {
  text-decoration: none;
}

.color-boxes li {
  width: 22px;
  height: 22px;
  list-style-type: none;
}

.color-boxes {
  display: flex;
  gap: 10px;
}

.black-box {
  background-color: black;
}

.blue-box {
  background-color: blue;
}

.red-box {
  background-color: red;
}

.yellow-box {
  background-color: goldenrod;
}

.green-box {
  background-color: greenyellow;
}

.brown-box {
  background-color: sienna;
}

.shoe-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.product-info {
  padding: 10px 0 10px 0;
}

.shoe-info {
  flex: 1;
}

.details {
  flex: 1;
}

.shoe-img {
  align-self: flex-end;
}

.btn {
  margin-top: -7px;
}

.price-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
